.stats-card{
  background:white;

  padding:24px;

  border-radius:22px;

  box-shadow:
  0 10px 30px rgba(15,23,42,.05);

  transition:.3s;
}

.stats-card:hover{
  transform:translateY(-4px);
}

.stats-header{
  display:flex;
  justify-content:space-between;
  align-items:center;

  margin-bottom:20px;
}

.stats-header span:first-child{
  color:var(--text-light);
}

.stats-icon{
  width:40px;
  height:40px;

  border-radius:12px;

  display:flex;
  align-items:center;
  justify-content:center;

  background:#eff6ff;

  color:var(--primary);
}

.stats-card h2{
  font-size:36px;
}